* { 
	margin:0;
	padding:0;
}
html, body { 
	height:100%;
}
body { 
	background:url(../images/tail-top.jpg) left top repeat-x #140100;
	
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:100%; 
	line-height:1.5em;
	color:gray;
}
.menutext {
	line-height:1.0em;
	font-weight:normal;
	color:#a77777;
	text-align:center;
}
body.menu {
	/*background:url(../images/tail-top.jpg) left top repeat-x #140100; */
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:100%; 
	line-height:1.5em;
	color:gray;
}

img {
	border:0; 
	vertical-align:top; 
	text-align:left;
}

img.med {
	height: 220px;
    width: 150px;
    margin: 12px 12px 12px 12px;
}

li.hor {
	float: left;


}
li a {
    display: block;
    padding: 8px;
    background-color: #804000;
    border-right: 1px solid #bbb;
}

li a:hover {
    background-color: #aaa;
}
ul, ol { 
	list-style:none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.footer,
.push {
  height: 50px;
}
.wrapper { 
	width:100%;
	overflow:hidden;
	  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}


/*==== GLOBAL =====*/
#main {
	width:980px; 
	margin:0 auto;
	background:url(../images/main-bg.jpg) no-repeat center 120px;
	font-size:1.375em;
}

#header {
	height:190px;
}
#content {
	min-height:457px;
	height:auto !important;
	height:457px;
}
#footer {
	font-family:Tahoma, Geneva, sans-serif;
	color:#433433;
	font-size:12px;
	text-align:center;
	padding:6px 0 0 0;
}
	#footer a {
		color:#433433;
	}

p {
	margin-bottom:8px;
	text-align:center;
	font-size:21px;
	padding:0 35px;
}

/*----- txt, links, lines, titles -----*/
a {
	color:#fff; 
	outline:none;
}
a:hover{
	text-decoration:none;
}

h1 {
	font-size:40px;
	line-height:1.2em;
	font-weight:normal;
	color:#a71f1f;
	text-align:center;
	padding:75px 0 0 0;
}
	h1 span {
		display:block;
		font-size:20px;
		line-height:25px;
	}
h2 {
	font-size:40px;
	line-height:1.2em;
	font-weight:normal;
	color:#a71f1f;
	text-align:center;
}

h3 {
	font-size:40px;
	line-height:1.2em;
	font-weight:normal;
	color:#a71f1f;
	text-align:center;
}
h4 {
	font-size:40px;
	line-height:1.2em;
	font-weight:normal;
	color:#a71f1f;
	text-align:center;
}
h4.menu {
	font-size:20px;
	line-height:1.0em;
	font-weight:normal;
	color:#a77777;
	text-align:left;
}

/*===== content =====*/
#content .nav {
	position:relative;
	height:337px;
}
	#content .nav li {
		position:absolute;
		font-size:20px;
		line-height:1.2em;
	}
	#content .nav li.home {
		left:60px;
		top:79px;
	}
	#content .nav li.site_map {
		left:193px;
		top:180px;
	}
	#content .nav li.search {
		right:67px;
		top:87px;
	}
		#content .nav li a {
			color:#fff;
			text-decoration:none;
		}
		#content .nav li a:hover {
			text-decoration:underline;
		}

