<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mngoat</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
 <!-- error-code related error pages -->
<error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
</error-page>
<error-page>
    <error-code>403</error-code>
    <location>/ErrorHandler</location>
</error-page>

<!-- exception-type related error pages -->
<error-page>
    <exception-type>
          javax.servlet.ServletException
    </exception-type >
    <location>/ErrorHandler</location>
</error-page>

<error-page>
    <exception-type>java.io.IOException</exception-type >
    <location>/ErrorHandler</location>
</error-page>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
     <param-name>ContentType</param-name>
     <param-value>text/html; charset=UTF-8</param-value>
     <!-- Forces UTF-8 output encoding! -->
    </init-param>
    
  <!-- FreeMarker settings: -->
   <init-param>
    <param-name>template_update_delay</param-name>
    <param-value>0</param-value>
    <!-- 0 is for development only! Use higher value otherwise. -->
   </init-param>
   <init-param>
    <param-name>default_encoding</param-name>
    <param-value>ISO-8859-1</param-value>
    <!-- The encoding of the template files. -->
   </init-param>
   <init-param>
    <param-name>number_format</param-name>
    <param-value>0.##########</param-value>
   </init-param>

  <load-on-startup>1</load-on-startup>
  </servlet>
   <servlet-mapping>
  <servlet-name>freemarker</servlet-name>
  <url-pattern>*.ftl</url-pattern>
 </servlet-mapping>


 <servlet>
  <servlet-name>hello_servlet</servlet-name>
  <servlet-class>experiments.HelloServlet</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>hello_servlet</servlet-name>
  <url-pattern>/hello</url-pattern>
 </servlet-mapping>
  <security-constraint>
    <display-name>SecurityConstraint</display-name>
    <web-resource-collection>
      <web-resource-name>Admin Pages</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/admin/adminLogin.jsp</form-login-page>
      <form-error-page>/admin/loginerror.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
</web-app>